.portfolio__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio__brand div a{
    text-align: center;
}
.portfolio__brand div img {
    width:30%;
    height: 30%;
}

@media screen and (max-width: 550px) {
    .portfolio__brand div {
        max-width: 110px;
        min-width: 80px; 
    }
}